body {
    display: grid;
    place-items: center; 
    height: 100vh;
    margin: 0; 
}
.container
{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: rows;
}
h1
{
    text-align: center;
}
textarea
{
    width:400px;
    height:150px;
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
}
button
{
    background-color: aqua;
    border-radius: 10px;
    width: 100px;
    height: 25px;
}
form
{
    background-color: orange;
    border: 1px solid black;
    padding:10px;
    border-radius: 15px;
    font-size: 20px;
}