.container
{
    display: flex;
    align-items: center; 
    justify-content: center;
    border-color: brown;
    border: 1px solid black;
}
h1
{
    text-align: center;
}
textarea
{
    width:300px;
    height: 100px;
}