body
{
    display: grid; 
    place-items: center; 
    height: 100vh; 
    margin: 0; 
    grid-template-columns: repeat(2, auto)
}
form
{
    
    width: auto;
    height: auto;
    background-color:black;
    padding: 20px;
    color: orange;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
form input,
form select,
form label ,
form button
        {
            margin-bottom: 10px;
        }
        button
        {
            margin-top: 15px;
            background-color: orange;
            padding: 5px;
            font-size: large;
            border:none;
            border-radius: 10px;
            transition: transform 0.1s ease;
            cursor: pointer;
        }
        button:active
        {
            transform: scale(0.95);
        }
        select
        {
            width: 200px;
            height: 40px;
            background-color: yellowgreen;
            padding: 5px;
            font-size: large;
            border-radius: 10px;
            cursor: pointer;
        }
        input
        {
            padding: 5px;
            font-size: large;
            border-radius: 10px;
            width: 300px;
            cursor: pointer;
        }