body
{
    display: grid; 
    place-items: center; 
    height: 100vh; 
    margin: 0; 
    grid-template-columns: repeat(2, auto)
}
form
{
    width: 400px;
    height: auto;
    background-color:black;
    padding: 20px;
    color: orange;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
button
{
    margin-top: 15px;
    background-color: orange;
    padding: 5px;
    font-size: large;
    border:none;
    border-radius: 10px;
    transition: transform 0.1s ease;
}
button:active
{
    transform: scale(0.95);
}