table
{
    border: 1px solid black;
    margin: auto;
}
th
{
    border: 1px solid black;
}
td
{
    border: 1px solid black;
    height: 200px;
}
img
{
    width: 150px;
    height: 300px;
}
h3
{
    text-align: center;
}
h1
{
    text-align: center;
}