table
{
    border: 1px solid black;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0px;
}
th
{
    border: 1px solid black;
}
td
{
    border: 1px solid black;
    height: 200px;
}
tr{
    border: 1px solid black;
}
img
{
    width: 150px;
    height: 300px;
}
h3
{
    text-align: center;
}
h1
{
    text-align: center;
}
div
{
    align-items: center;
}