body
{
    background-color: aqua;
}
table
{
    border-radius: 15px;
}
td
{
    border: 1px solid black;
    align-items: center;
    padding: 20px;
    background-color:white;
    border-radius: 15px;
    
}
tr
{
    border: 1px solid black;
    padding: 20px;
}
div
{
    width: auto;
    height: auto;
}
button
{
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
}